@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --hover-color:firebrick;
    --background-color:#1d1d23;
  }
  /* this contains all the styles and fonts inported  */
  /* this has the sizing and font and color layout for the page */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
  }
  /* the font size uses 65% of the screen and the scroll behavior is set to smooth to allow easy movement */
  html{
    font-size: 65%;
    scroll-behavior: smooth;
  }
  /* this contains my background color, position fixed so it stays in place even if moved */
  .header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
   
  }
  
  
  /* this controled the navbar the size, color and postioning of buttons */
  .navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  /* adds the root hovor feature to contact botton that changes its color */
  .navbar a:hover{
    color: var(--hover-color);
  }
  /* control the icon bottons for the navbar */
  .contactBotton div i{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
  }
  /* this allows the hover to activate when using the pointer */
  .contactBotton div:hover{
    cursor: pointer;
  }
  /* this is the outline of the box on the contact botton when using the pointer */
  .contactBotton a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid firebrick;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
  }
  /* this changes the appearance of a button when hovered */
  .contact-btn:hover{
    transform: scale(1.1);
    background: var(--hover-color);
    border: 1px solid white;
  }
.logo img{
    width: 60px;
}

li,ul{
    list-style:none;
    padding:0;
    margin:0;
}

.sec-title{
    position:relative;
    padding-bottom:40px;
    padding-left: 20px;

}

.sec-title .title:before{
    position:absolute;
    content:'';
    right:0;
    bottom:7px;
    width:40px;
    height:1px;
    background-color:#bbb;

}

.sec-title h2{
    position:relative;
    color:black;
    font-size:36px;
    font-weight:700;
    line-height:1.5em;
    display:block
}
.sec-title.light h2{
    color:#fff
}

.navbar-mobile{
    display: none;
  }
  @media (max-width: 768px){
    .navbar{
      display: none;
    } 
  .navbar-mobile {
      overflow: hidden;
      display: block;
      background-color: #333;
      font-family: Arial;
    }
    
    /* Links inside the navbar */
    .navbar-mobile a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
      }
    
    /* Add a red background color to navbar links on hover */
    .navbar-mobile a:hover, .dropdown:hover .dropbtn {
      background-color: red;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
.contact-page-section{
    position:relative;
    padding-top:110px; 
    background-color: firebrick;
    /* padding-bottom: 110px; */
}
.contact-page-section .inner-container{
    position:relative
    ;z-index:1;
    background-color:firebrick;
    box-shadow:0 0 15px 5px rgba(0,0,0,.1);
}
.contact-page-section .form-column{
    position:relative;
    padding:0 0 0 15px
}
.contact-page-section .form-column .inner-column{
    position:relative;
    padding:60px 45px 30px;
    background-color:whitesmoke;
}
.contact-page-section .info-column{
    position:relative
}
.contact-page-section .info-column .inner-column{
    position:relative;
    padding:60px 35px
}
.contact-page-section .info-column h2{
    position:relative;
    color:#fff;
    font-size:30px;
    font-weight:700;
    line-height:1.4em;
    margin-bottom:45px
}
.contact-page-section .info-column .list-info{
    position:relative;
    margin-bottom:60px
}
.contact-page-section .info-column .list-info li{
    position:relative;
    margin-bottom:25px;
    font-size:18px;
    color:fff;
    line-height:1.8em;
    padding-left:45px
}
.contact-page-section .info-column .list-info li:last-child{
    margin-bottom:0
}
.contact-page-section .info-column .list-info li i{
    position:absolute;
    left:0;top:8px;color:#fff;
    font-size:30px
}
.contact-form{
    position:relative
}
.contact-form .form-group{
    position:relative;
    margin-bottom:20px
}
.contact-form input[type=text],.contact-form input[type=email],.contact-form textarea{
    position:relative;
    display:block;
    width:100%;
    height:60px;
    color:#222;
    font-size:14px;
    line-height:38px;
    padding:10px 30px;
    border:1px solid #ddd;
    background-color:#fff;
    transition:all .3s ease;
    -ms-transition:all .3s ease;
    -webkit-transition:all .3s ease
}
.contact-form input[type=text]:focus,.contact-form input[type=email]:focus,.contact-form textarea:focus{
    border-color:black
}
.contact-form textarea{
    height:250px;
    resize:none
}
.contact-form .theme-btn{
    font-size:16px;
    font-weight:700;
    margin-top:10px;
    text-transform:capitalize;
    padding:16px 39px;
    border:2px solid black;
    font-family:Arimo,sans-serif;
    background:black;
    display:inline-block;
    position:relative;
    line-height:24px;
    cursor:pointer;
    color:#fff
}
.contact-form .theme-btn:hover{
    color:black;
    border-color:black;
    background:0 0
}
.contact-form input.error,.contact-form select.error,.contact-form textarea.error{
    border-color:red!important
}
.contact-form label.error{
    display:block;
    line-height:24px;
    padding:5px 0 0;
    margin:0;
    text-transform:uppercase;
    font-size:12px;
    color:red;
    font-weight:500
}
.social-icon-four{
    position:relative
}
.social-icon-four li{
    position:relative;
    margin-right:18px;
    display:inline-block
}
.social-icon-four li.follow{
    color:#fff;
    font-weight:600;
    font-size:24px;
    display:block;
    margin-bottom:20px
}.social-icon-four li a{
    position:relative;
    font-size:20px;
    color:#fff;
    -webkit-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease
}.social-icon-four li a:hover{
    color:#222
}

.footer{
    bottom: 0%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer-logo img{
    width: 200px;
}
.footer-navbar{
    margin-top: 15px;
}
.footer-navbar a{
    color: white;
    font-size: 18px;
    margin: 1rem;
    padding: 1rem;
}
.footer-navbar a:hover {
    color: firebrick;
}
  
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
  
.social-media a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    transition: color 0.2s ease-in-out;
}
  
.social-media a:hover {
    color: firebrick;
}
  
.social-media i {
    font-size: 20px;
}