@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300);
* {
    box-sizing: border-box;
  }
  ul {
    padding-left: 1.5rem;
  }
  body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: snow;
    margin: 0 auto;
    max-width: 1000px;
  }
  .item {
    padding: 8px;
    background-color: #22C2C6;
    border: 4px solid #103C59;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .height-50 {
    height: 50vh;
  }
  /* task 1 Pancake stack */
  .task1-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}
/* task 2 simple 12 column grid layout */
.task2-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    column-gap: 12px;
    align-items: center;
}
.task2-container .item-1 {
    grid-column: 2 / span 4;
}
.task2-container .item-2 {
    grid-column: 6 / span 4;
}
/* task 3 responsiveness layout using 12 columns grid */
.task-3-1.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto auto auto;
  gap: 24px;
}
/* Mobile */
@media (min-width: 720px) {
    .task3-1.container {
        grid-template-columns: 12/1fr;
        grid-template-rows: auto auto 1fr auto auto auto;
    }
    .task-3-1 .header {
        grid-column: 1 / span 12;
    }
    .task-3-1 .navigation {
        grid-column: 1 / span 12;
    }
    .task-3-1 .main {
        grid-column: 3 / span 10;
    }
    .task-3-1 .sidebar {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .task-3-1 .ads {
        grid-column: 1 / span 2;
    }
    .task-3-1 .footer {
        grid-column: 3 / span 10 ;
    }
}
/* Desktop */
@media(min-width: 1020px) {
    .task-3-1 .header {
        grid-column: 1 / span 13;
    }
    .task-3-1 .navigation {
        grid-column: 3 / span 8;
      }
      .task-3-1 .main {
        grid-column: 3 / span 8;
      }
      .task-3-1 .sidebar {
        grid-row: 2 / span 4;
        grid-column: 1 / 2;
      }
      .task-3-1 .ads {
        grid-column: 12 / span 2;
        grid-row: 2/4;
      }
      .task-3-1 .footer {
        grid-column: 1 / span 13;
      }
}@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300);
* {
    box-sizing: border-box;
  }
  ul {
    padding-left: 1.5rem;
  }
  body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: snow;
    margin: 0 auto;
    max-width: 1000px;
  }
  .item {
    padding: 8px;
    background-color: #22C2C6;
    border: 4px solid #103C59;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .height-50 {
    height: 50vh;
  }
  /* task 1 Pancake stack */
  .task1-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}
/* task 2 simple 12 column grid layout */
.task2-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    column-gap: 12px;
    align-items: center;
}
.task2-container .item-1 {
    grid-column: 2 / span 4;
}
.task2-container .item-2 {
    grid-column: 6 / span 4;
}
/* task 3 responsiveness layout using 12 columns grid */
.task-3-1.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto auto auto;
  gap: 24px;
}
/* Mobile */
@media (min-width: 720px) {
    .task3-1.container {
        grid-template-columns: 12/1fr;
        grid-template-rows: auto auto 1fr auto auto auto;
    }
    .task-3-1 .header {
        grid-column: 1 / span 12;
    }
    .task-3-1 .navigation {
        grid-column: 1 / span 12;
    }
    .task-3-1 .main {
        grid-column: 3 / span 10;
    }
    .task-3-1 .sidebar {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .task-3-1 .ads {
        grid-column: 1 / span 2;
    }
    .task-3-1 .footer {
        grid-column: 3 / span 10 ;
    }
}
/* Desktop */
@media(min-width: 1020px) {
    .task-3-1 .header {
        grid-column: 1 / span 13;
    }
    .task-3-1 .navigation {
        grid-column: 3 / span 8;
      }
      .task-3-1 .main {
        grid-column: 3 / span 8;
      }
      .task-3-1 .sidebar {
        grid-row: 2 / span 4;
        grid-column: 1 / 2;
      }
      .task-3-1 .ads {
        grid-column: 12 / span 2;
        grid-row: 2/4;
      }
      .task-3-1 .footer {
        grid-column: 1 / span 13;
      }
}