* {
  box-sizing: border-box;  
}

body{
    background-color: #103c59;
    font-family: "Open Sans", sans-serif;
    color: snow;
    max-width: 0 auto;
    padding: 16px
}

.task{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.container{
    background-color: snow;
    border: 1px solif lightgray;
    height: 200px;
    border-radius: 4px;
}

.item{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    background-color: #22c2c6;
    text-align: center;
}

.sm{
    width: 20px;
}

.lg{
    width: 80px;
}

/* Task 1 */

.task-1 .container{
   display: flex; 
}

/* Task 2 */
.task-2 .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Task 3 */

.task-3 .container{
    display: flex;
    justify-content: space-between;
}

/* Task 4 */

.task-4 .option-1 .container{
    display: flex;
    justify-content: end;
}

.task-4 .option-2 .container{
    display: flex;
    justify-content: center;
}

.task-4 .option-2 .space{
    flex-grow: 1;
}

.task-4 .option-3 .container{
    display: flex;
}

.task-4 .option-3 .item:first-child{
    flex-grow: 1;
}

/* Task 5 */

.task-5 .container{
    display: flex;
}

.task-5 .item-1{
    flex-grow: 1;    
}

.task-5 .item-2{
    flex-grow: 1;    
}

.task-5 .item-3{
    flex-grow: 1;    
}

.task-5 .item-4{
    flex-grow: 1;    
}

.task-6 .container{
    display: flex;
    flex-wrap: wrap;
}

.task-6 .items{
    width: 50%;
}

@media (min-width:375px){
    .task-6 .items{
    display: flex;
    /* if i need another column */
    width: 25%;
    }


}